

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-image: linear-gradient( black , rgb(29, 29, 29) , rgb(62, 60, 60) );
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.home1{
  margin-top: 6rem;
  margin-left: 8rem;
  font-family: serif;

}
.home2{
 font-size: 3rem;
 line-height: 1;
}
.home2 h1{
  margin: 4rem 0;
}
#g{
  margin-left: 10rem;
}
.home3{
   width: 30rem;
   border: 2rem solid white;
   padding: 1rem;
}

.MyMail{
  text-decoration: none;
}

.header1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
       
        
}
.header1 a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}
.about1{
  font-size: 2rem;
  text-align: center;

}
.about2{
  width: 40rem;
}
.about{
  margin-top: 4rem;
  margin-left: 4rem;
}
.AboutDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.AboutDiv img {
  border: transparent;
  border-radius: 50px;
}

#skill{
  margin-top: 4rem;
}
.skill1{
  font-size: 2rem;
 text-align: center;
 font-family:Georgia, 'Times New Roman', Times, serif
}
.skill2{
 width: 100%;
 height: 15rem;
 display: flex;
 align-items: center;
}
#contact{
  color: black;
  background-color: white;
}
.contact1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: space-around;
}
.contact1 h1{
  margin-top: 4rem;
}
.contact2{
   margin-top:4rem ;
  display: flex;
  justify-content: space-around;
}
.contact3{
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.circle{
  width: 100px;
  height: 100px;
  background-color: teal;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  margin: 2rem;
  left: 100px ;
}

.circle1{
  width: 150px;
  height: 150px;
  background-color: teal;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  margin: 2rem;
  left: 100px ;
  left:0px;
  animation-name: circle1;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle1{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(0px);
  }
}


.circle2{
  left:50px;
  animation-name: circle2;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle2{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(200px);
  }
}

.circle3{
  left:50px;
  animation-name: circle3;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle3{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(350px);
  }
}

.circle4{
  left:50px;
  animation-name: circle4;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle4{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(500px);
  }
}

.circle5{
  left:50px;
  animation-name: circle5;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle5{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(650px);
  }
}


.circle6{
  left:50px;
  animation-name: circle6;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle6{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(800px);
  }
}


.circle7{
  left:50px;
  animation-name: circle7;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle7{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(950px);
  }
}

.circle8{
  left:50px;
  animation-name: circle8;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle8{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(1100px);
  }
}

.circle9{
  left:50px;
  animation-name: circle9;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}
@keyframes circle9{

  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(1250px);
  }
}
#achivement{
    margin-top: 4rem;
}
.achivement1{
  font-size: 2rem;
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif
}
.achivement2{
  text-align: center;
  margin-top: 2rem;
}